<div class="row" ng-controller="BookKartApp.conntrollers.BookKartController as bKCtrl">
   
    <div class="loader" ng-hide="bKCtrl.isloadingitems"></div>
    <div class="row" ng-show="bKCtrl.isloadingitems">

        <div class="col-xs-12">
            <div class="col-xs-2 bookslist" ng-repeat="s in bKCtrl.listofBooks">

                <a href="#" title='Name:{{s.name}} &nbsp;Subject:{{s.subject}}' ui-sref="home.bookdetail({bookId:s.id})">
                    <img src="/BookKart/images/book.jpg" class="img-responsive" alt="Lights" style="width:100%;height:40%;">
                    <p style="position:absolute;top:20%;left:60px;color:white;font-size:12px;">{{s.name|limitTo:22}}{{s.name.length>22?'..':''}}</p>
                </a>

                <p style="text-align:center;">Price:  &#x20b9; {{s.price}}</p>
            </div>
        </div>
    </div>
    </div>
